.main-nav {
    background: linear-gradient(to right, #d87a0e, #eb8c43);
    /* from left (#ff7e5f) to right (#feb47b) */
    padding: 20px;
    color: white;
    list-style: none;
    padding: 10px;
    display: flex;
    gap: 50px;
    /* space between links */
    justify-content: center;
}

.main-nav a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 1px 1px 2px #aaa;
    margin-top: 0%;
    padding-top: 0%;


}

.main-nav a:hover {
    color: #007bff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container {
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden; /* ensures background doesn't overflow */
    padding-bottom: 0;
}

/* background image with reduced opacity */
.logo-container::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url('image/cover.jpg') center/cover no-repeat;
    opacity: 0.3;   /* adjust opacity */
    z-index: 1;     /* behind the logo */
    padding-bottom: 0;
    margin-bottom: 0;
}

/* keep logo above background */
.logo-container img {
    position: relative;
    z-index: 2;
}