body {
  background-color: #ffebd8);
}

h1 {

  font-family: 'Arial Black', sans-serif;
  font-size: 40px;
  background-color: transparent;
  text-align: left;
  margin-bottom: 0%;
}
.logo-img {
  width: 150px;
  height: auto;
  /* keeps proportions */
}
#bodymain {
  margin: 20px;
  padding: 20px;
  background-color: #fff5da;
  box-shadow: 0 0 10px rgba(255, 223, 154, 0.1);
}
S