body {
  background-color: rgb(255, 159, 159);
}

h1 {
  font-family: 'Arial Black', sans-serif;
  font-size: 40px;
  background-color: lightseagreen;
  text-align: center;
}

h1 a{
  color: navy;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  
}
p a {
  text-decoration: none;
  color: red;
  font-size: 20px;
}
