body {
  background-color: rgb(255, 159, 159);
}

h1 {
  font-family: 'Arial Black', sans-serif;
  font-size: 40px;
  background-color: rgb(220, 255, 163);
  text-align: center;
}

h1 a:visited {
  color: rgb(20, 0, 90);
  background-color: transparent;
  text-decoration: none;
}
h1 a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
h1 a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
  
p a {
  text-decoration: none;
  color: red;
  font-size: 20px;
}
.city {
  background-color: rgb(234, 255, 184);
  color: rgb(51, 51, 51);
  padding:20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

